version: "3.8"

services:
  mysql-database:
    container_name: mysql-database
    image: mysql:5.7
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - mysql:/var/lib/mysql
    networks:
      - bridge-network

  my-awesome-wordpress:
    container_name: wordpress
    build:
      context: .
      dockerfile: Dockerfile.wordpress
    ports:
      - "8080:80"
    restart: unless-stopped
    depends_on:
      - mysql-database
    volumes:
      - wordpress:/var/www/html
    networks:
      - bridge-network

volumes:
  mysql:
  wordpress:

networks:
  bridge-network:
    driver: bridge

